build/
out/
.vs/
.vscode/
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*.user
*.suo
*.vcxproj*
*.sln
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
!releases/*.exe
